:root {
  --primary-color: #f39f5f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
}

/* universal style */
h1 {
  color: #262626;
}
p {
  color: #737373;
}
h3 {
  color: #002c44;
}

/* Navbar Section */
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  background: white;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* Header Section */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 5rem ;
  gap: 2rem;
}

.header-content {
  width: 50%;
}
.header-content > span {
  background: rgba(84, 95, 244, 0.122);
  color: #fbbc05;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 4px 5px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.header-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: left;
}
#hero-highlight {
  color: var(--primary-color);
}

.header-content p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.apply-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.apply-btn:hover {
  background-color: #ed9755;
}

.header-image {
  width: 50%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-image img {
  max-width: 80%;
  height: auto;
}

/* Features Section */
.features {
  display: flex;
  justify-content: space-around;
  padding: 40px 40px;
  background-color: #fff;
  flex-wrap: wrap;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.feature-item {
  text-align: center;
  width: 20%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.feature-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature-icon:hover {
  transform: translateY(-10px);
  transition: all 0.5s ease;
}

.feature-item h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-wrap: nowrap;
}

/* Why Choose Us Section */
.why-choose-us {
  padding: 60px 40px;
  text-align: center;
  background-color: #f4eeef;
}

.why-choose-us h2 {
  font-size: 3.75rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.why-choose-us p {
  font-size: 1.8rem;
  margin-bottom: 40px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.why-choose-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 5rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.number {
  background: var(--primary-color);
  padding: 12px 18px;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  margin: auto;
}
.grid-sub-item h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 10px;
}
.grid-sub-item p {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  width: 50%;
  margin-top: 10px;
}

.grid-item-center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle {
  width: 22rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--primary-color);
}

.mobile-single {
  width: 15rem;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/* Platform in Action Section */
.platform-action {
  padding: 60px 40px;
  text-align: center;
  background-color: #fff;
}

.platform-action h2 {
  font-size: 3.75rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.platform-action p {
  font-size: 1.8rem;
  margin-bottom: 30px;
  width: 50%;
  margin: auto;
}

.platform-video {
  margin-top: 8rem;
  width: 100%;
}
.platform-video iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.action-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.download-btn,
.demo-btn {
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
}
.download-btn {
  background-color: var(--primary-color);
}
.demo-btn {
  color: #002c44;
  background-color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.download-btn:hover,
.demo-btn:hover {
  opacity: 0.9;
}

/* Start Learning Section */
.start-learning {
  padding: 60px 40px;
  text-align: left;
  background-color: #ffe6e0;
  width: 90%;
  margin: auto;
  display: flex;
  gap: 20px;
}

.start-learning-content {
  width: 50%;
  padding: 2rem 0;
}

.start-learning-content h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  font-weight: 600;
  text-align: left;
}

.start-learning p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.app-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 4rem;
}

.app-buttons button {
  all: unset;
  cursor: pointer;
}

.app-btn-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.start-learning-image {
  width: 50%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.start-learning-image img {
  width: 215px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  object-fit: cover;
}

/* Testimonials Section */
.testimonials {
  padding: 60px 40px;
  text-align: center;
}

.testimonials > h3 {
  font-size: 1.8rem;
  color: var(--primary-color);
  font-weight: 700;
}

.testimonials > h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.testimonials > p {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.review-card {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.person-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review-card > P {
  text-align: left;
  margin-top: 10px;
}

.swiper {
  width: 100%;
  overflow: hidden;
  margin-top: 6rem;
}
.swiper-wrapper {
  display: flex;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact Section */

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 2rem 5rem;
  background-color: #f4eee5;
  margin-top: 5rem;
}

.contact-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-img img {
  width: 30%;
  object-fit: cover;
  transform: rotate(-20deg);
}

.contact-form {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-title {
  color: #e48c3d;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
}

.form-heading {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}

.form-subtext {
  font-size: 0.9rem;
  color: #666;
  text-align: left;
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  gap: 15px;
  margin: 15px 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.full-width {
  width: 100%;
}

label {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
  text-align: left;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 1rem;
}

textarea {
  resize: none;
}

.submit-btn {
  background: #e48c3d;
  color: white;
  border: none;
  padding: 10px 3rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

/* responsive design */
@media screen and (max-width: 768px) {
  .navbar{
    justify-content: space-between;
    padding: 5px 12px;
  }
  .nav-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 5px 0;
  }

  .nav-container.active {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    gap: 1.5rem;
  }

  .toggle {
    display: block;
  }

  .hero {
    flex-direction: column;
    padding: 2rem;
  }
  .header-content {
    width: 100%;
  }

  .header-content h1 {
    font-size: 2rem;
  }

  .header-content p {
    font-size: 1rem;
  }

  .header-image {
    width: 100%;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }

  .why-choose-us {
    padding: 3.75rem 20px;
  }
  .why-choose-us h2 {
    font-size: 2.5rem;
  }
  .why-choose-us p {
    font-size: 1rem;
  }
  .why-choose-grid {
    grid-template-columns: 1fr;
    gap: 10rem;
  }
  .platform-action {
    padding: 60px 20px;
  }
  .platform-action h2 {
    font-size: 2.5rem;
  }
  .platform-action p {
    font-size: 1.5rem;
    width: 100%;
  }
  .start-learning {
    flex-direction: column;
    padding: 60px 20px;
  }
  .start-learning-content {
    width: 100%;
  }
  .start-learning-content h1 {
    font-size: 2rem;
  }
  .start-learning p {
    font-size: 1.3rem;
  }
  .start-learning-image {
    width: 100%;
    height: 400px;
  }

  .start-learning-image img {
    position: relative;
  }
  .testimonials > h3 {
    font-size: 1.5rem;
  }
  .testimonials > h1 {
    font-size: 2.5rem;
  }
  .testimonials > p {
    font-size: 1.3sdrem;
  }
  .contact {
    flex-direction: column;
    padding: 2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hero {
    flex-direction: column;
    padding: 4rem;
  }
  .header-content {
    width: 100%;
  }

  .header-content h1 {
    font-size: 4rem;
  }

  .header-content p {
    font-size: 1rem;
  }

  .header-image {
    width: 100%;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }

  .why-choose-us {
    padding: 3.75rem 20px;
  }
  .why-choose-us h2 {
    font-size: 3rem;
  }
  .why-choose-us p {
    font-size: 1rem;
  }
  .why-choose-grid {
    grid-template-columns: 1fr;
    gap: 10rem;
  }
  .circle {
    width: 22rem;
  }

  .platform-action {
    padding: 60px 20px;
  }
  .platform-action h2 {
    font-size: 2.5rem;
  }
  .platform-action p {
    font-size: 1.5rem;
    width: 100%;
  }
  .start-learning {
    flex-direction: column;
    padding: 60px 20px;
  }
  .start-learning-content {
    width: 100%;
  }
  .start-learning-content h1 {
    font-size: 2.5rem;
  }
  .start-learning p {
    font-size: 1.3rem;
  }
  .start-learning-image {
    width: 100%;
    height: 400px;
  }

  .start-learning-image img {
    position: relative;
  }
  .testimonials > h3 {
    font-size: 1.5rem;
  }
  .testimonials > h1 {
    font-size: 3rem;
  }
  .testimonials > p {
    font-size: 1.3sdrem;
  }
  .contact {
    flex-direction: column;
    padding: 2rem;
  }
}
